#forroot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    /* height: 100vh; */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* background-size: 200% 200%; */
    background-image: linear-gradient(45deg, #1c1c1c, #000000, #0e0e0e, #000000);
    animation: gradient 15s ease infinite;
}

nav {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to right, #1c1c1c, #000000);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a:hover {
    background-color: #000000;
    color: #ffdd57;
}

#container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    color: #fbb034;
}

#welcome h1 {
    color: #fbb034;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
}

#welcome h5 {
    color: #cfd8dc;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 1.5;
    transition: transform 0.5s ease;
}

#welcome {
    margin-top: 30px;
    width: 400px;
    transition: transform 0.5s ease;
}

#animated-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#animated-section h3 {
    margin-top: 110px;
    width: 200px;
    transition: transform 0.5s ease;
}

#animated-section img {
    width: 300px;
    transition: transform 0.5s ease;
}


/* Hover Effects */

#welcome:hover h1,
#welcome:hover h5,
#animated-section:hover h3,
#animated-section:hover img {
    transform: translateY(-10px);
}


/* Additional Animations */

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#welcome,
#animated-section h3,
#animated-section img {
    animation: slide-up 0.5s ease forwards;
}

nav {
    animation: fade-in 1s ease forwards;
}


/* dezubycocboeb */

#part3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#part3 img {
    width: 300px;
    border-radius: 20%;
}

.form-container {
    width: 400px;
    padding: 40px;
    background-color: #1a1a1a;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.form-container h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.form-container input[type="tel"] {
    width: 381px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
    background-color: #303030;
    color: #ffffff;
    margin-bottom: 20px;
}

.form-container input[type="submit"] {
    width: 400px;
    padding: 10px;
    background-color: #ff8800;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container input[type="submit"]:hover {
    background-color: #e67e00;
}